<h1>Stupid Coaching</h1>
<div class="border-start p-4">
  <%=@user_question%>
  <p>-YOU</p>
</div>
<br>
<div class="border-start p-4">
  <strong><%=@coach_reply%></strong>
  <p>-YOUR COACH</p>
</div>
<%= link_to 'Ask new question', ask_path %>
